{
  "endpoint": "/v1/activity/priorities",
  "method": "GET",
  "output_encoding": "no-op",
  "input_headers": ["Content-Type", "Authorization", "Journey-ID"],
  "backend": [
    {
      "url_pattern": "/activity/priorities",
      "encoding": "json",
      "sd": "static",
      "method": "GET",
      "host": ["{{ .activityServiceHost }}"]
    }
  ],
  "extra_config": {{ template "endpoint_extra_config.tmpl" . }}
}