{
  "endpoint": "/v1/content/gallery/{id}",
  "method": "POST",
  "timeout": "180s",
  "output_encoding": "no-op",
  "input_headers": ["*"],
  "input_query_strings": ["featuredId"],
  "backend": [
    {
      "url_pattern": "/gallery/{id}",
      "encoding": "json",
      "sd": "static",
      "method": "POST",
      "host": ["{{ .contentVaultHost }}"]
    }
  ],
  "extra_config": {{ template "endpoint_extra_config.tmpl" . }}
}