{
  "endpoint": "/v1/content/metadata/{id}",
  "method": "GET",
  "output_encoding": "no-op",
  "input_headers": ["Authorization"],
  "backend": [
    {
      "url_pattern": "/metadata/{id}",
      "encoding": "json",
      "sd": "static",
      "method": "GET",
      "host": ["{{ .contentVaultHost }}"]
    }
  ]
}