{
  "endpoint": "/v1/user/activities/{id}/unread",
  "method": "PUT",
  "output_encoding": "no-op",
  "input_headers": ["Content-Type", "Authorization", "Journey-ID"],
  "backend": [
    {
      "url_pattern": "/user/activities/{id}/unread",
      "encoding": "json",
      "sd": "static",
      "method": "PUT",
      "host": ["{{ .userCentralHost }}"]
    }
  ],
  "extra_config": {{ template "endpoint_extra_config.tmpl" . }}
}