{
  "endpoint": "/v1/user/validate",
  "method": "GET",
  "output_encoding": "no-op",
  "input_headers": ["*"],
  "input_query_strings": ["username", "email"],
  "backend": [
    {
      "url_pattern": "/admin/realms/jumkid/users",
      "encoding": "no-op",
      "sd": "static",
      "method": "GET",
      "host": [ "{{ .keycloakHost }}" ],
      "is_collection": true,
      "extra_config": {
        "modifier/lua-backend": {
          "post": "local r = response.load(); r:headers('Content-Type', 'application/json'); r:close();",
          "live": false
        },
        "auth/client-credentials": {
          "client_id": "{{ .keycloakAdminClientId }}",
          "client_secret": "{{ .keycloakAdminClientSecret }}",
          "token_url": "{{ .keycloakHost }}/realms/master/protocol/openid-connect/token",
          "scopes": "roles",
          "endpoint_params": {
            "client_id": ["{{ .keycloakAdminClientId }}"],
            "client_secret": ["{{ .keycloakAdminClientSecret }}"],
            "username": ["{{ .keycloakAdminUserName }}"],
            "password": ["{{ .keycloakAdminUserPassword }}"],
            "grant_type": ["{{ .keycloakGrantType }}"]
          }
        }
      }
    }
  ],
  "extra_config": {{ template "endpoint_extra_config.tmpl" . }}
}