{
  "endpoint": "/v1/content/html",
  "method": "POST",
  "output_encoding": "no-op",
  "input_headers": ["Authorization"],
  "input_query_strings": ["title"],
  "backend": [
    {
      "url_pattern": "/content/html",
      "encoding": "json",
      "sd": "static",
      "method": "POST",
      "host": ["{{ .contentVaultHost }}"]
    }
  ]
}