{
  "endpoint": "/v1/content/upload",
  "method": "POST",
  "timeout": "5s",
  "output_encoding": "no-op",
  "input_headers": ["*"],
  "input_query_strings": ["title", "content", "tags"],
  "backend": [
    {
      "url_pattern": "/file/upload",
      "encoding": "json",
      "sd": "static",
      "method": "POST",
      "host": ["{{ .contentVaultHost }}"],
      "extra_config": {{ template "backend_extra_config.tmpl" . }}
    }
  ]
}