{
  "endpoint": "/v1/domaindata",
  "method": "POST",
  "output_encoding": "no-op",
  "input_headers": ["Authorization", "Journey-ID"],
  "input_query_strings": ["industry", "name", "value"],
  "backend": [
    {
      "url_pattern": "/domaindata",
      "encoding": "json",
      "sd": "static",
      "method": "POST",
      "host": ["{{ .domainDataHost }}"]
    }
  ],
  "extra_config": {{ template "endpoint_extra_config.tmpl" . }}
}