{
  "endpoint": "/v1/vehicles/{id}",
  "method": "DELETE",
  "output_encoding": "no-op",
  "input_headers": ["Content-Type", "Authorization", "Journey-ID"],
  "input_query_strings": ["id"],
  "backend": [
    {
      "url_pattern": "/vehicles/{id}",
      "encoding": "json",
      "sd": "static",
      "method": "DELETE",
      "host": ["{{ .vehicleProfileHost }}"]
    }
  ],
  "extra_config": {{ template "endpoint_extra_config.tmpl" . }}
}