{
  "endpoint": "/v1/content/thumbnail/{id}",
  "method": "GET",
  "output_encoding": "no-op",
  "input_headers": ["Content-Type", "Authorization", "Journey-ID"],
  "input_query_strings": ["size"],
  "backend": [
    {
      "url_pattern": "/content/thumbnail/{id}",
      "encoding": "json",
      "sd": "static",
      "method": "GET",
      "host": ["{{ .contentVaultHost }}"]
    }
  ],
  "extra_config": {{ template "endpoint_extra_config.tmpl" . }}
}